<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">

<!--
`login-page`


@demo demo/index.html
-->

<dom-module id="login-page">
  <template>
    <style>
      :host {
        display: block;
      }
      .login-page-input {
        border-radius: 4px;
        border: 1px solid #c6c5c5;
        padding: 10px;
        display: block;
        margin: 8px 0 18px 0;
        width: 94%;
      }
      .login-page-image-wrapper {
        margin-bottom: 18px;
        text-align: center;
      }
      .login-button {
        border: none;
        padding: 1rem 2.5rem;
        background: #30fdb3;
        font-size: 20px;
        width: 253px;
        height: 56px;
        color: white;
        font-weight: bold;
        margin-top: 61px;
      }
      .login-page-border {
        margin-top: -6px;
        height: 4px;
        background-color: #0173f8;
        border-radius: 5px;
        display: block;
      }
      .login-page-title {
        color: #0173f8;
        font-size: 20px;
        display: block;
        margin-top: 24px;
        font-weight: bold;
      }
      .login-actions {
        text-align: center;
      }
    </style>
    <div class="login-page-header">
      <div class="login-page-image-wrapper">
        <img src="[[page.image]]" alt="" class="login-page-image">
        <span class="login-page-border"></span>
        <span class="login-page-title">[[page.title]]</span>
      </div>
    </div>
    <div class="loding-page-form">
      <div class="login-input-wrapper">
        <label for="" class="login-page-label">Correo electrónico</label>
        <input type="text" class="login-page-input" value="{{email::input}}">
      </div>
      <div class="login-input-wrapper">
        <label for="" class="login-page-label">Contraseña</label>
        <input type="password" class="login-page-input" value="{{password::input}}">
      </div>
      <paper-checkbox noink>Recuerdame</paper-checkbox> 
    </div>
    <div class="login-actions">
      <button class="login-button" on-tap="validateForm">Entrar</button>
    </div>
  </template>

  <script>
    Polymer({

      is: 'login-page',

      properties: {
        page: {
          type: Object,
          value: {
            'image': '../demo/group.svg',
            'title': '¡Bienvenido!'
          }
        },
        email: {
          type: String,
          value: ''
        },
        password: {
          type: String,
          value: ''
        } 
      },
      validateForm: function() {
        if(this.isFormEmpty() || !this.validEmail()) {
          alert('bad')
        } else {
          this.fire('login-event', {email: this.email, password: this.password});
        }
      },
      isFormEmpty: function() {
        return (this.password === '' && this.email === '');
      },
      validEmail: function() {
        var re  = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return re.test(this.email);
      }
    });
  </script>
</dom-module>
